<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Native Buttons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">turn on flash</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-button  (click)="turnOnFlash()">
  light it
</ion-button>

<ion-button  (click)="turnOffFlash()">
  light off
</ion-button>

<ion-button  (click)="VibrateBtn()">
  Vibration
</ion-button>

<ion-button (click)=geoLocation()>
Live Location
</ion-button>
<p>
  {{data}}
  
</p>
</ion-content>
